.container {
    padding: 0;
    width: 100vw;
}

.navbar {
    margin-bottom: 0;
    height: 5vh;
    z-index: 1;
}

.content {
    width: 70%;
    margin: auto;
    height: 95vh;
}

@media (max-width: 767px) {
    #placeholder {
        width: 100vw;
    }

    #myNavbar {
        background-color: white;
    }
}

[class*="col-"] {
    /*Create space between columns*/
    border-left: 5px;
    border-right: 5px;
    border: solid transparent;
}

.item img {
    /*Center image in parent div*/
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.carousel-caption {
    color: #ffffff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
}

